<!-- <p>reactiveformdemo works!</p> -->

<h1>Reactive Form Control</h1>
<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <label for="name">Name</label>
  <input formControlName="name" id="name"><br><br>
  <label for="password">Password</label>
  <input formControlName="password" id="password" type="password"><br><br>
  <label for="email">Email</label>
  <input formControlName="email" id="email" type="email"><br><br>
  <label for="firstName">First name</label>
  <input id="firstName" formControlName="firstName" placeholder="First name"><br><br>
  <label for="lastName">Last name</label>
  <input id="lastName" formControlName="lastName" placeholder="Last name"><br><br>
  <button type="submit">Submit</button>
</form>

<p *ngIf="submittedMessage">{{ submittedMessage }}</p>
